// vairables
$--main-color1: #4782c8;
$--main-color2: #3E71AD;
$--main-color3: #315A8A;

$--base-color1: #424242;
$--base-color2: #8A8A8A;

/* 버튼 */
$--border-color1: rgb(184, 184, 184);
$--bs-gutter-x: 3rem;

/* screen */
$--screen-lg: 1400px;

