.dropdown-wrapper{
  color: black;
  background: white;
  border-radius: 7px;
  max-width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 3px 0;
  
  user-select: none;
  cursor: pointer;

  .selected{
    display:flex;
    justify-content: space-between;
    position: relative;
    flex: 1;

    padding: 0 10px;
    font-weight:bold;  
  }
  .option-list{
    position:absolute;
    // position:relative;
    // top: 51px;
    top: 889px;
    width: 100px;
    border-radius: 0 0 7px 7px;
    background: white;
    
    
    .option{
      padding: 5px 10px;
      &:hover{
        background-color:var(--btn-highlight-color2);
      }
      &:first-child{
        margin-top: 10px;
      }
      &:last-child{
        border-radius: 0 0 7px 7px;
      }
    }
  }

}