.dropdown-wrapper {
  color: black;
  background: white;
  border-radius: 7px;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 3px 0;
  user-select: none;
  cursor: pointer;
  position: relative;

  .selected {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 10px;
    font-weight: bold;
  }

  .option-list {
    position: absolute;
    top: 27px;
    width: 100px;
    border-radius: 0 0 7px 7px;
    background: white;

    .option {
      padding: 5px 10px;

      &:hover {
        background-color: $--main-color3;
      }

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        border-radius: 0 0 7px 7px;
      }
    }
  }

}