.write-form {
  border: 1px solid $--border-color1;
  padding: 20px 10px;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;

  .title-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .dropdown-wrapper {
      border: 1px solid black;
      border-radius: 0;
      width: 100%;

      .option-list {
        border: 1px solid black;
        border-top: 0;
        border-radius: 0;

        .option {
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }

    .title-input {
      padding: 10px 15px;
      margin-left: 10px;
      flex: 1;
    }

  }

  .ql-editor {
    height: 600px;

    .ql-video {
      width: 640px;
      height: 360px;
    }
  }

  &.comment-editor {
    margin-bottom: 20px;

  }

  &.post-editor {
    margin-bottom: 30px;
  }

  &.reply-editor {
    margin-left: 30px;
  }

  &.comment-editor,
  &.reply-editor {
    border: 1px solid $--border-color1;

    .ql-editor {
      height: 50px;
    }
  }

}

.editor-btn-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;

  .cancel-btn {
    margin-left: 10px;
  }
}