.header-wrapper{
  color: white;
  background-color: var(--bg-color1);
  .header {
    display: flex;
    align-items: center;
    flex-grow:1;
    justify-content: space-evenly;

  
    .title{
      color: white;
    }
  
    .search-bar-wrapper{
      display:flex;
      align-items: center;
      min-width: 40vw;
      .dropdown-wrapper{
        flex-grow: 1;
      }
    
      .search-bar{
        display:flex;
        background-color: white;
        border-radius: 7px;
        padding: 3px 10px;
        margin-left: 10px;
        flex-grow: 1;
        .search-form{
          display:flex;
          flex-grow: 1;
          input{
            border:none;
            flex-grow: 1;
          }
          .search-btn{
            color:black;
            font-size:2rem;
            &:hover{
              cursor:pointer;
            }
          }
        }
      }
    }
  
    .button-wrapper{
      display:flex;
      justify-content: flex-end;
      align-items: center;
      .login-btn,.sign-up-btn, .logout-btn{
        border: none;
        border-radius: 5px;
        height: 36px;
        padding: 2px 10px; 
        background-color: var(--btn-color2);
        color: white;
      }
  
      .sign-up-btn, .logout-btn {
        margin-left: 15px;
      }
    }
  }
}

.main-content{
  display: flex;
  justify-content: center;
}

.navbar {
  min-width: 150px;
  background-color: var(--btn-color2);
  .nav-item-wrapper {
    padding: 20px 0px;
    font-size: large;
    font-weight: bold;
    .nav-item{
      padding: 10px;
      &:hover{
        background-color: white;
      }
    }
    .nav-item.selected{
      background-color: white;
    }

  }
}



.page-view {
  width: 793px;
  background-color: rgb(230, 230, 230);
}

.btn{
  border: none;
  border-radius: 5px;
  height: 36px;
  padding: 2px 10px; 
  background-color: var(--btn-color2);
  color: white;
}