@import "normalize.css";
@import 'variables.css';

.layout-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left:20px;
  padding-right:10px;
  align-items: center;
  color: white;
  background-color: var(--bg-color1);

  .title{
    color: white;
  }

  .search-bar{
    grid-column: 2/5;
    display:flex;
    background-color: white;
    border-radius: 7px;
    padding: 3px 10px;
    .search-form{
      flex-grow: 1;
      display:flex;

      input{
        border:none;
        flex-grow: 1;
      }
      .search-btn{
        color:black;
        font-size:2rem;
        &:hover{
          cursor:pointer;
        }
      }
    }
  }

  .button-wrapper{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    // margin-bottom: 20px;
    // margin-right: 20px;

    .login-btn,.sign-up-btn, .logout-btn{
      border: none;
      border-radius: 5px;
      height: 36px;
      padding: 2px 10px; 
      background-color: var(--btn-color2);
      color: white;
    }

    .sign-up-btn, .logout-btn {
      margin-left: 15px;
    }
  }
}

.main-content{
  display: flex;
  justify-content: center;
  // width: fit-content;
}

.navbar {
  // float: left;
  width: 150px;
  // max-width: 287px;
  // height: 100vh;
  
  // margin-right: 10px;
  padding-right: 10px;
  // margin-left: 10px;
  padding-left: 40px;
  background-color: var(--btn-color2);
  border: 1px solid black;

  // position: sticky;
}

.nav-item-wrapper {
  /*  */
}

.page-view {
  width: 723px;
  background-color: rgb(230, 230, 230);
}

.btn{
  border: none;
  border-radius: 5px;
  height: 36px;
  padding: 2px 10px; 
  background-color: var(--btn-color2);
  color: white;
}