@import "normalize.css";

.title {
  text-align: center;
}

.navbar {
  // float: left;
  width: 150px;
  // max-width: 287px;
  height: 100vh;
  margin-right: 10px;
  margin-left: 30px;
}

.nav-item-wrapper {
  /*  */
}

.main-content{
  display: flex;
  justify-content: center;
}