$gap: 3rem;

.login {
  display: flex;
  justify-content: center;

  .login-form-continer {
    @include submit-form-container(3.45rem);

    .login-form {
      @include form-layout(3, 5px);
      margin-top: $gap;


      #password {
        margin-bottom: $gap;
      }
    }
  }
}