.login{
  display:flex;
  justify-content: center;

  .login-form-wrapper{
    width: 400px;
    border: 1px solid var(--border-color1);
    border-radius: 7px;
    margin: 30px 0;
    padding: 0 10px;

    .title{
      // display:block;
      text-align: center;
    }
  
    .login-form{
      display:grid;
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: 5px;
      padding: 10px 20px;
      
      #userId, #password{
        margin: 5px 0;
        height: 30px;
        border: none;
        border-bottom: 2px solid var(--border-color1);
        width: 100%;
        &:focus{
          outline: none;
        }
      }

      .login-btn{
        margin: 15px 0 10px 0;
        // width: 100%;
        // flex-grow: 1;
      }
    }
  }
}
// .login{
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   .login-form-wrapper{
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     width: 400px;
//     // height: 60vh;
//     border: 1px solid var(--border-color1);
//     border-radius: 7px;
//     margin: 30px 0;
//     padding: 0 10px;

//     .title{
//       // display:block;
//     }
  
//     .login-form{
//       margin-bottom: 20px;

//       #userId, #password{
//         margin: 5px 0;
//         height: 30px;
//         border: 1px solid var(--border-color1);
//         border-radius: 5px;
//         // width: 100%;
//         // flex-grow: 1;
//       }

//       .login-btn{
//         margin: 10px 0;
//         width: 100%;
//         // flex-grow: 1;
//       }
//     }
//   }
// }