.login {
  display: flex;
  justify-content: center;
  // margin: auto 0;
  .login-form-continer {
    width: 400px;
    border: 1px solid var(--border-color1);
    border-radius: 7px;
    // margin: 30px 0;
    margin: 3.45rem 0;
    padding: 0 10px;

    .title {
      text-align: center;
    }
    $gap: 3rem;
    .login-form {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: 5px;
      padding: 10px 20px;
      margin-top:$gap;
      #userId,
      #password {
        margin: 5px 0;
        height: 30px;
        border: none;
        border-bottom: 2px solid var(--border-color1);
        width: 100%;

        &:focus {
          outline: none;
        }
      }
      #password{
        margin-bottom:$gap;
      }

      .login-btn {
        margin: 15px 0 10px 0;
      }
    }
  }
}