main {
  width: 100%;
}

.post-wrapper{
  padding:50px 30px;
  border: 1px solid black;
  padding-bottom: 30px;
}

.post-item-wrapper{
  max-width: 803px;
}

// .post-list-head{
//   display: grid;
//   width: 100%;
//   // margin-right: 30px;
//   padding-top:10px;
//   padding-bottom: 10px;
//   border: 1px solid black;
  
//   grid-template-columns: 1fr 3fr 14fr 2fr 3fr ;
//   .like{
//     margin: 0 10px;
//     text-align: center;
//   }
//   .category{
//     margin: 0 10px;
//     text-align: center;
//   }
//   .title{
//     width: 300px;
//     text-align: left;
//     padding-left: 5px;
//   }
//   .author{
//     margin: 0 10px;
//     text-align: center;
//   }
//   .date{
//     margin-left: 10px;
//     text-align: center;
//   }
// }

.post-item{
  display: grid;
  width: 100%;
  // margin-right: 30px;
  padding-top:10px;
  padding-bottom: 10px;
  border: 1px solid black;
  
  grid-template-columns: 1fr 3fr 14fr 2fr 3fr ;
  // text-align: center;
  .like{
    margin: 0 10px;
    text-align: center;
  }
  .category{
    margin: 0 10px;
    text-align: center;
  }
  .title{
    width: 300px;
    text-align: left;
    padding-left: 5px;
  }
  .author{
    margin: 0 10px;
    text-align: center;
  }
  .date{
    margin-left: 10px;
    text-align: center;
  }
}

// Post
.post {
  .header{
    display: flex;
    flex-direction: column;

    .title{
      text-align: left;
      font-size: 1.5em;
    }
    .post-info{
      margin-left: auto;
      margin-bottom: 20px;
      .author, .date, .comments, .likes{
        margin-right: 10px;
      }
    }
  }

  .body{
    min-height: 300px;
    .ql-video {
      width:640px;
      height:360px;
    }
  }
}

// Comment
.comment {
  margin: 10px 0;
  .header{
    display: flex;
    .username {
      flex-grow:1
    }
    .edit, .delete, .likes, .sub-comment, .date {
      margin-right: 10px;
    }
  }

  .body{
    margin: 10px 0;
  }
}

// pagination
.pagination{
  display:flex;
  justify-content: center;
  margin: 20px 0;
}

.test{
  display:flex;
  justify-content: flex-end;
}

// .post-write{
//   float:right;
// }