main {
  width: 100%;
}

.post-wrapper{
  // padding:50px 30px 30px 30px;
  margin:50px 30px 30px 30px;
  border: none;
  border-radius: 7px;
  background-color: white;
  padding: 20px 10px;
  // padding-bottom: 30px;
  // width: fit-content;
  // width: inherit;

  // 유튜브 영상 삽입시 padding이 이상하게 먹힘
}

.post-list-header{
  display: grid;
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  grid-template-columns:  2fr 3fr 10fr 6fr 3fr ;
  text-align: center;
}

.post-item-wrapper{
  max-width: 803px;
  .post-item{
    display: grid;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    &:hover{
      background-color: var(--btn-highlight-color1);
      cursor: pointer;
    }
    
    grid-template-columns: 2fr 3fr 10fr 6fr 3fr ;
    .like, .category, .author, .date{
      margin: 0 10px;
      text-align: center;
    }

    .title, .author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:100%;
    }
  
  }
}


// Post
.post {
  padding: 10px;
  .header{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 2px solid black;

    .title{
      font-size: 1.5em;
    }
    .post-info{
      display:flex;
      // align-items: center;
      margin-left: auto;
      margin-bottom: 5px;

      .author, .date, .comments, .likes{
        margin-right: 10px;
      }
      .comments, .likes{
        span {
          margin-left: 5px;
        }
        display:flex;
        // align-items: baseline;
        align-items: center;
      }
    }
  }

  .body{
    min-height: 300px;
    // width:100%;
    // padding-bottom: 56.25%;
    .ql-video {
      
      // max-width:640px;
      // max-height:360px;

      width:640px;
      height:360px
    }
  }

  
  .button-wrapper{
    display:flex;
    flex-direction: column;
    
    .like-btn{
      align-self: center;
      border: 3px solid var(--btn-color1);
      width: 80px;
      height: 30px;
      padding: 5px;
      border-radius: 7px;
      &:hover{
        cursor: pointer;
        color:white;
        background-color: var(--btn-highlight-color1);
      }
    }
    .isMyPost{
      align-self: flex-end;
      .btn{
        margin: 0 5px;
      }
    }

    .active{
      color:red;
    }
  }
}

// Comment
.comment {
  margin: 10px 0;
  border: 1px solid black;
  // border-radius: 10px;
  padding: 5px 5px;


  .header{
    display: flex;
    margin-bottom: 10px;
    padding:10px 5px;
    border-bottom: 2px solid gray;
    align-items: center;

    .date{
      margin: 0 5px;
    }

    .button-wrapper{
      display:inline-block;
      margin-left:auto;
      .write-comment, .edit-comment, .delete-comment{
        cursor: pointer;
        margin: 0 5px;
        &:hover{
          color:blue;
        }
      }
    }
  }

  .body{
    margin: 10px 0;
    padding: 0 5px;
  }
  .footer{
    display:flex;
    padding: 0 5px;
    .reply-btn, .like-btn{
      cursor: pointer;
      margin-right: 5px;
      span{
        margin-left:5px;
      }
      
    }
  }
}

// Reply
.reply{
  margin: 10px 0;
  margin-left:30px;
  border: 1px solid black;
  padding: 5px 5px;
  .header{
    display: flex;
    margin-bottom: 10px;
    padding:10px 5px;
    border-bottom: 2px solid gray;
    align-items: center;

    .date{
      margin: 0 5px;
    }

    .button-wrapper{
      display:inline-block;
      margin-left:auto;
      .edit-reply, .delete-reply{
        cursor: pointer;
        margin: 0 5px;
        &:hover{
          color:blue;
        }
      }
    }
  }

  .body{
    margin: 10px 0;
    padding: 0 5px;
  }
}

// pagination
.pagination{
  display:flex;
  justify-content: center;
  margin: 20px 0;
  .prev, .next{
    margin: 0 5px;
  }
  .btn{
    background: none;
    border: 2px solid var(--btn-color2);
    margin: 0 2px;
    color: var(--btn-color2);
    &:hover{
      border: 2px solid var(--btn-highlight-color1);
      background-color: var(--btn-highlight-color1);
      color: white;
    }
  }
  .btn.selected{
    border: 2px solid var(--btn-highlight-color1);
    background-color: var(--btn-highlight-color1);
    color: white;
  }
}

.write-btn-wrapper{
  display:flex;
  justify-content: flex-end;
  
}
