.signup{
  display:flex;
  justify-content: center;
  .signup-form-wrapper{
    width: 400px;
    border: 1px solid var(--border-color1);
    border-radius: 7px;
    margin: 30px 0;
    padding: 0 10px;

    .title{
      text-align: center;
    }
    .signup-form{
      display:grid;
      grid-template-rows: repeat(5,1fr);
      margin-bottom: 5px;
      padding: 10px 20px;
      #userId, #nickname, #password, #password-check{
        margin: 5px 0;
        height: 30px;
        border: none;
        border-bottom: 2px solid var(--border-color1);
        &:focus{
          outline: none;
        }
      }
      .signup-btn{
        margin: 15px 0 10px 0;
      }
    }
  }
}
