:root {
  /* --text-color: black; */
  /* --highlight-color: rgb(40, 192, 252); */
  --bg-color1: #00888f;


  /* 버튼 */
  --btn-color1: #368da2;
  --btn-color2: #23CFBF;
  --btn-highlight-color1: #00888f;
}