:root {
  /* --text-color: black; */
  /* --highlight-color: rgb(40, 192, 252); */
  --bg-color1: #00888f;


  /* 버튼 */
  --btn-color1: #368da2;
  --btn-color2: #23CFBF;
  --btn-highlight-color1: #00888f;
  --btn-highlight-color2: #23CFBF;
  --btn-highlight-color3: #76d1c8;
  --border-color1: rgb(184, 184, 184);
  --bs-gutter-x: 3rem;

  /* screen */
  --screen-lg: 1400px;
}